@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    font-family: sans-serif;
    color: #fff;
    min-width: 200vw;
    overflow: hidden;
}
.main {
    max-width: 500px;
    margin: 50px auto;
    position: relative;
}
.container {
    background-color: #181818;
    color: #fff;
    width: 500px;
    height: 500px;
    position: absolute;
    left: -50vw;
    border: solid 1px #333;
    display: inline-block;
}
.container .content {
    margin: 50px;
}
.container .content h1, .answer .content h1 {
    font-family: 'Raleway';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 10px;
}
.container .content h3, .answer .content h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}
.container .content form, .answer .content form {
    margin: 10px;
}
.container .content form input.question {
    display: block;
    margin: 5px auto;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    padding: 5px;
    border: 0;
    outline: none;
    background-color: #383838;
    border-radius: 20px;
}
.container .content form input.question:focus, input.quesion:active, input.question:hover {
    border: 1px solid #eee !important;
    border-radius: 20px;
}
.container .content form input:focus::placeholder {
    color: transparent;
}
.container .content form input.questionBtn, input.btn {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    display: block;
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #0cab00;
}
.answer {
    background-color: #181818;
    color: #fff;
    width: 500px;
    height: 500px;
    border: solid 1px #333;
    position: absolute;
    left: 100vw;
    display: inline-block;
}
.content2 {
    margin: 100px;
}
.content2 h1 {
    text-align: center;
}
.content2 p.note {
    margin: 20px 10px;
    text-align: center;
    font-size: 1.5rem;
}
.content2 p.theWord {
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
input.enterLetter {
    display: block;
    margin: 20px auto;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    padding: 5px;
    border: 0;
    outline: none;
    transform: scale(1,1);
    background-color: #383838;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
input.enterLetter:focus, input.enterLetter:active, input.enterLetter:hover {
    border: 1px solid #eee !important;
    border-radius: 20px;
} 
input.enterLetter:focus, input.enterLetter:active, input.enterLetter:hover {
    border: 1px solid #eee !important;
    border-radius: 20px;
}
.inputdisabled {
    transform: scale(0,0);
    transition: all 0.5s ease-in-out;
}

.answer.content2.changeQ {
    visibility: hidden;
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    display: block;
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #0cab00;
}
 