@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #000;
    font-family: sans-serif;
    color: #fff;
    min-width: 100vw;
    overflow: hidden;
}
/* INTROCONTENT */
.intro {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    color: #fff;
    position: relative;
}
.intro h1 {
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
}
.intro .logo {
    margin: 20px auto;
    background: url("logo.png") no-repeat center/contain;
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
}
.intro .button {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    padding: 16px;
    border: 0;
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    background: linear-gradient(#0fb0fa,#077cb3);
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.intro .button:hover {
    background: linear-gradient(#0fb0fa,#029ee6);
}
#main {
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    position: relative;
}
/*Container*/
.container {
    background-color: #181818;
    color: #fff;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 5%;
    top: 200%;
    transform: translate(-5%, -50%);
    border: solid 1px #333;
    display: inline-block;

}
.container .blackscreen {
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: 100%;
    z-index: 999;
}
.container .content {
    margin: 50px;
}
.container .content h1, .answer .content h1 {
    font-family: 'Raleway';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 10px;
}
.container .content h3, .answer .content h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 100px;
}
.container .content form, .answer .content form {
    margin: 10px;
}
.container .content form input.question {
    display: block;
    margin: 5px auto;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    padding: 5px;
    border: 0;
    outline: none;
    background-color: #383838;
    border-radius: 20px;
}
.container .content form input.question:focus, input.quesion:active, input.question:hover {
    border: 1px solid #eee !important;
    border-radius: 20px;
}
.container .content form input:focus::placeholder {
    color: transparent;
}
.container .content form input.questionBtn, input.btn {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    display: block;
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #0cab00;
}
/*Container End*/
/*Animisition overwrite*/
.animsition {
position: absolute;
    left: 45%;
    top: 20%;
}
/*Info Start*/
.info {
    width: 600px;
    margin: 10px;
    color: #fff;
    display: inline-block;
    border: 1 solid #fff;
}
.info h1 {
    font-family: "Montserratt", sans-serif;
    font-weight: normal;
    font-size: 3rem;
    display: none;
}
.info h3 {
    font-weight: normal;
    padding: 10px 0px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #fff;
    display: none;
}
.info ul {
    padding: 10px 0px;
    list-style: none;
    display: none;
}
.info li strong {
    font-size: 2rem;
    font-weight: normal;
}
.info li {
    margin: 10px 0;
    font-size: 1.2rem;
}
.answer {
    background-color: #181818;
    color: #fff;
    width: 500px;
    height: 500px;
    border: solid 1px #333;
    position: absolute;
    left: 200%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}
.content2 {
    margin: 60px;
}
.content2 h1 {
    text-align: center;
}
.content2 p.note {
    margin: 20px 10px;
    text-align: center;
    font-size: 1.5rem;
}
.content2 p.theWord {
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
input.enterLetter {
    display: block;
    margin: 20px auto;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    padding: 5px;
    border: 0;
    outline: none;
    transform: scale(1,1);
    background-color: #383838;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
input.enterLetter:focus, input.enterLetter:active, input.enterLetter:hover {
    border: 1px solid #eee !important;
    border-radius: 20px;
} 
input.enterLetter:focus, input.enterLetter:active, input.enterLetter:hover {
    border: 1px solid #eee !important;
    border-radius: 20px;
}
.inputdisabled {
    transform: scale(0,0);
    transition: all 0.5s ease-in-out;
}

.changeQ {
    visibility: hidden;
    margin: 80px auto;
    width: 50%;
    padding: 10px;
    display: block;
    border: 0;
    color: #fff;
    font-weight: normal;
    font-size: 0.8rem;
    background: linear-gradient(#0fb0fa,#077cb3);
    border-radius: 20px;
    cursor: pointer;
}
.changeQ:hover {
    background: linear-gradient(#0fb0fa,#029ee6);
}

.playAgain {
    display: none;
    position: absolute;
    left: 120px;
    top: 300px;
    width: 50%;
    padding: 10px;
    border: 0;
    color: #fff;
    font-weight: normal;
    font-size: 0.8rem;
    background: linear-gradient(#0fb0fa,#077cb3);
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.playAgain:hover {
    background: linear-gradient(#0fb0fa,#029ee6);
}
